#wrap {}

/*------{header}---------*/

#header {line-height:100px;}
#header h1 img {position:relative;;width:200px;padding-top:10px;}
#header .container {display:flex;width:1200px;margin:30px auto;
padding:0 15px;}
#header nav {margin-left:auto;}
#header nav>ul {display:flex;}
#header nav>ul>li>a {display:block;position:relative;padding:0 30px;}
#header nav>ul>li~li>a:after {content:"";display:block;width:1px;height:10px;background:#333;
position:absolute;top:50%;left:0;transform:translateY(-50%);}

#header .right {font-size:20px;margin-left:40px;}

#header .header_search input {border:none;outline:none;border-bottom:1px solid #3fb247;padding:1px 0;}
#header .header_search button {background:none;border:none;outline:none;padding:5px 0;}
#header .header_search i {font-size:18px;color:#3fb247;padding:5px;}

/*------{header}---------*/

/*-----{main_visual, 레코드 판 start}-----*/
#main_visual {position:relative;}
#main_visual .photo {position:absolute;display:flex;margin-top:27%;padding-bottom:150px;left:58%;transform:translate(-50%,-50%);width:600px;
    border-radius:50%;}
#main_visual>figure {margin-left:75%;top:150px;right:30px;width:300px;
    border-radius:30% 30% 30% 30%;transform-origin:100px;animation:rotate_image 1s infinite linear;overflow:hidden;}
    @keyframes rotate_image {
        0% { transform: rotate(0); }
        100% { transform: rotate(360deg); }
      };


#main_visual .photo {display:flex;width:1200px;margin:0 auto;width:300px;
    border-radius:20%;overflow:hidden;}
#main_visual .photo img {width:100%;}
#main_visual .container {position:absolute;display:flex;width:1200px;margin:0 auto;transform:translateY(180px);margin-left:19%;}
#main_visual .container>ul>li {font-size:40px;}
#main_visual .container>ul>li~li {font-size:60px;font-weight:600;}
 
/*-----{main_visual, 레코드 판 end}-----*/

/*-----{section movie 01}-----*/

#movie01 {position:relative;margin-top:570px;}
#movie01 .figure {display:flex;margin:0 auto;padding:450px;}
#movie01 span {position:absolute;display:block;bottom:0;left:50%;transform:translateX(-50%);
    font-size:16px;font-weight:400;text-align:center;padding:20px 40px 20px 40px;background: #fff;border-radius:10%;}
#movie01 span a {display:block;}

/*-----{section movie 01}-----*/


/*-----{section  02  sart }-----*/
#concert_info {padding:150px 0;}
#concert_info h2 {position:relative;font-size:34px;font-weight:600;padding-bottom:150px;margin-bottom:10px;text-align:center;}
#concert_info .container {display:flex;width:1200px;border-radius:10% 10%;margin:0 auto;}
#concert_info img {max-width:100%;}
#concert_info figure {flex:1;padding:0 15px;}

#concert_info figure strong {display:block;margin:10px 0;font-size:26px;font-weight:400;}
#concert_info figure span {display:block;margin:10px 0;font-size:18px;font-weight:300;}

#concert_info .case {overflow:hidden;}
#concert_info figure img {transition:0.3s;}
#concert_info figure:hover img {transform:scale(1.3)}



/*-----{section  02  end }-----*/


/*-----{footer  sart }-----*/
#footer {background:#000;color:#f4f4f4;font-weight:300;}
#footer .container {display:flex;justify-content:space-between;width:1200px;margin:0 auto;line-height:80px;padding:0 15px;}
#footer .container img {padding:50px 470px 20px 470px}
#footer .customer_link {display:flex;text-align:center;margin-left:7%;}
#footer .customer_link li {position:relative;font-size:18px;font-weight:400;}
#footer .customer_link li a {display:block;padding:0 20px;}
#footer .customer_link li~li:before {content:"I";position:absolute;top:0;left:0;}
#footer .customer_link li:first-child a {padding:0 20px 0 0;}
#footer hr {border:none;border-top:1px solid #666;}
#footer select {background:#333;padding:5px 15px;outline:none;}


#footer .container02 {display:flex;justify-content:space-between;width:1200px;margin:27px auto 0 auto;line-height:30px;padding:0 15px;}
#footer .customer_link02 {display:flex;margin:0 auto;}
#footer .customer_link02 li {position:relative;margin-left:4px;}
#footer .customer_link02 li a {display:block;padding:0 20px;}
#footer .customer_link02 li~li:before {content:"I";position:absolute;top:0;left:0;}
#footer .customer_link02 li:first-child a {padding:0 20px 0 20px;}


#footer .container03 {display:flex;justify-content:space-between;width:1200px;height:10%;margin:0 auto;line-height:30px;padding:0 15px;}
#footer .customer_link03 {display:flex;margin:0 auto;}
#footer .customer_link03 li {position:relative;margin-left:3px;}
#footer .customer_link03 li a {display:block;flex:1;padding:0 20px;}
#footer .customer_link03 li~li:before {content:"I";position:absolute;top:0;left:0;}
#footer .customer_link03 li:first-child a {padding:0 20px 0 20px;}

/*-----{footer  end }-----*/
